.mm-editor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mm-main {
  position: relative;
  height: 100%;
}

.mm-entry-markdown,
.mm-entry-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px;
  width: 50%;
}

.mm-editor-wrapper {
  overflow: hidden;
}

.mm-entry-preview {
  overflow-y: scroll;
}

.mm-entry-markdown .CodeMirror {
  padding: 15px;
}

.mm-entry-preview {
  right: 0;
}

.mm-entry-markdown .CodeMirror {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}